footer {
  line-height: 40px;
  text-align: center;
  position: relative;
  z-index: 9999;
  height: 40px;
  padding-top: 30px;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: transparent;

    li {
      display: inline-block;
      margin: 0 12px;

      a {
        font-size: 32px;
        color: #FFF;
        opacity: .5;
        @include animate(all);

        &:hover {
          opacity: 1;
          color: #c0392b;
        }
      }
    }
  }
}
