/**
 * Global Styles
 */

html,
body {
	@include font-smoothing(on);
	position: relative;

	&.is-loading {
		*, *:before, *:after {
			@include vendor('animation', 'none !important');
			@include vendor('transition', 'none !important');
		}

		#overlay {
			opacity: 1;
		}
	}

	&.in {
		overflow: hidden;
	}
}

a {
	@include animate(all);

	&:hover {
		text-decoration: none;
	}
}


.no-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-left-padding {
	padding-left: 0;
}

.no-right-padding {
	padding-right: 0;
}

#overlay {
	@include vendor('transition', 'opacity 4s ease');
	@include vendor('transition-delay', '1.25s');
	@include vendor('background-image', ('linear-gradient(top, rgba(32,32,32,1), rgba(32,32,32,1))', 'url("../../images/section2-1.jpg")'));

	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

section {

	h1,
	h2,
	h3 {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.235em;
	}

	&:not(#top) {
		z-index: 2;
		height: 100vh;
	}
	&:not(#work) {
		padding: 90px 0;
	}
}
