/**
 * Header/Navigation Styling
 *
 * Investigate the _bootstrap-overrides.scss file before overriding styles here
 */


header {

  .navbar-fixed-top {
    &.navbar-default {
      @include vendor('transition', ('transform 0.75s ease', 'opacity 0.75s ease'));
      @include vendor('transition-delay', '2.5s');
      @include vendor('transform', 'translateY(0)');
      z-index: 7;
      opacity: 1;
      border: 0;

      ul {
        &.nav {
          &.navbar-nav {
            > li {
              padding-right: 30px;
              padding-top: 15px;
              > a {
                &.nav-link {
                  font-size: 26px;
                  opacity: .7;
                  display: inline-block;
                  width: 26px;
                  height: 26px;
                  padding: 0;
                  line-height: 26px;

                  i {
                    &.fa-user-circle {
                      &:after {
                        content: "\f2bd";
                        display: block;
                      }
                      &:before {
                        position: absolute;
                        opacity: 0;
                        bottom: 2px;

                        @include vendor('animation', 'pulse 2s ease-out');
                        @include vendor('animation-iteration-count', '4');
                        @include vendor('animation-delay', '20s');
                      }
                    }
                  }

                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }


  }
}

body {
  &.is-loading {
    header {
      .navbar-fixed-top {
        opacity: 0;
        @include vendor('transform', 'translateY(-50px)');
      }
    }

    #top {
      #particle-canvas {
        opacity: 0 !important;
      }
    }
  }

  &.in {
    &.overlay {
      z-index: 8;
    }
  }
}


@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(1.35);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(1.7);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(2.05);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(2.4);
    opacity: 0.0;
 }
}
