/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(35,35,35,0.95);
	z-index: 9;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: inline-block;
	color: #fff;
	padding: 0 60px;

	i {
		display: none;
	}
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #FFF;
	opacity: 1;
}

/* Effects */
.overlay-tyme {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-tyme.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-tyme nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-tyme nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-20%) rotateX(35deg);
	transform: translateY(-20%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;

	li {
		text-align: center;
		&.title {
			margin-bottom: 30px;
			h2 {
				font-size: 32px;
				margin: 0;
			}
			h3 {
				font-size: 20px;
				margin: 0;
			}
			h4 {
				font-size: 14px;
				margin: 3px 0 10px;
			}
		}

		a {
			overflow: hidden;
			opacity: 1 !important;
			text-align: center;
			span {
				position: relative;
				display: inline-block;
				-webkit-transition: -webkit-transform 0.5s;
				-moz-transition: -moz-transform 0.5s;
				transition: transform 0.5s;
				text-align: center;

				&:before {
					position: absolute;
					top: 100%;
					content: attr(data-hover);
					font-weight: 700;
					-webkit-transform: translate3d(0,0,0);
					-moz-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}
			}

			&:hover,
			&:focus {
				span {
					-webkit-transform: translateY(-100%);
					-moz-transform: translateY(-100%);
					transform: translateY(-100%);
				}
			}
		}
	}
}

.overlay-tyme.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-tyme.close nav ul {
	-webkit-transform: translateY(20%) rotateX(-35deg);
	transform: translateY(20%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
