@media screen and (max-width: $screen-xs) {
  #top {

    background-position: center center;

    .scroll-fade {
      position: relative;
      top: -30px;
    }
    h2 {
      font-size: 1.7em;
    }
    h3 {
      font-size: .87em;
    }

    .more {
      height: 6.5em;

      &:after {
        bottom: 2em;
      }
    }
  }
}

@media screen and (min-width: $screen-md) {
  #swipe-msg {
    display: none;
  }
}

@media screen and (max-width: $screen-md) {

  .no-left-padding,
  .no-right-padding,
  .no-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #work {
    .project {
      &.slick-slide {
        position: relative;
        height: 100vh;
        padding: 5vh 0 30px;
        margin: 0;

        .col-md-6 {

          .project-content {
            padding-top: 0;

            h2 {
              padding: 5px;
              margin: 0 0 10px;
              font-size: 20px;

              span {
                font-size: 18px;
              }
            }

            p {
              font-size: 16px;
              padding: 5px;
            }
            a {
              &.project-btn {
                margin: 10px 0 30px;
                font-size: 17px;

                &.stacked {
                  margin: 0 0 5px;
                }
              }
            }
          }
        }
      }

      &#progressive-ae {
        .project-img {
          max-width: none !important;
          margin: 0 auto;
        }
      }

      &#terryberry {
        .project-content {
          margin-left: 0 !important;
        }
      }
    }
  }

  #swipe-msg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    text-align: center;
    font-weight: 600;
    background: rgba(0,0,0,.6);
    color: #FFF;
    text-transform: uppercase;
    z-index: 9999;
    float: none !important;
    transform: none !important;
    opacity: 0;
    font-size: 22px;
    line-height: 60px;
    @include animate(all);

    &.active {
      opacity: .8;
    }

    img {
      display: inline-block !important;
    }
  }

  footer {
    &#main {
      height: 30px;
      line-height: 30px;
      text-align: center;
      padding-top: 5px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin: 0 12px;

          a {
            color: #FFF;
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {


  header {
    .navbar-fixed-top {

      &.navbar-default {


        ul {
          &.nav {
            &.navbar-nav {
              > li {
                padding-right: 15px;

                > a {
                  &.nav-link {
                    display: inline-block;
                    float: right;

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs) {
  .overlay {
    &.overlay-tyme {
      ul {
        &.social {
          li {
            a {
              font-size: 38px;
            }
          }
        }
      }

      .overlay-close {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #work {
    .project {
      &.slick-slide {
        width: 100vw !important;

        .project-content {
          h2 {
            font-size: 26px;

            span {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
