#top {
  @include vendor('display', 'flex');
  @include vendor('flex-direction', 'column');
  @include vendor('justify-content', 'center');
  @include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../img/section2.jpg")'));

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: default;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  #particle-canvas {
    opacity: .75 !important;
    position: absolute !important;
    z-index: 1 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include vendor('transition', ('opacity 4s ease'));
    @include vendor('transition-delay', '1.25s');

    > div {
      background: transparent !important;
    }
  }

  h2 {
    @include vendor('transform', 'scale(1)');
    @include vendor('transition', ('transform 0.5s ease', 'opacity 0.5s ease'));

    display: inline-block;
    font-size: 2.2em;
    opacity: 1;
    padding: .65em 1em;
    position: relative;
    z-index: 4;
    margin-bottom: 30px;

    &:before, &:after {
      @include vendor('transition', 'width 0.85s ease');
      @include vendor('transition-delay', '0.25s');

      background: #FFF;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      width: 100%;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      right: 0;
    }
  }

  h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    opacity: 1;
    z-index: 1;
    @include vendor('transition', ('opacity 2s ease'));
    @include vendor('transition-delay', '1.25s');
  }

  .more {
    @include vendor('transition', ('transform 0.75s ease', 'opacity 0.75s ease'));
    @include vendor('transition-delay', '3s');
    @include vendor('transform', 'translateY(0)');
    border: none;
    bottom: 0;
    color: inherit;
    font-size: 1em;
    height: 8.5em;
    left: 50%;
    letter-spacing: 0.235em;
    margin-left: -8.5em;
    opacity: 1;
    outline: 0;
    padding-left: 0.235em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 16em;
    z-index: 1;

    &:after {
      background-image: url('../img/arrow.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 4em;
      content: '';
      display: block;
      height: 1.5em;
      left: 50%;
      margin: 0 0 0 -0.75em;
      position: absolute;
      width: 1.5em;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

body.is-loading {
  #top {
    h2 {
      @include vendor('transform', 'scale(0.95)');
      opacity: 0;

      &:before, &:after {
        width: 0;
      }
    }

    &:after {
      opacity: 1;
    }

    h3 {
      opacity: 0;
    }

    .more {
      @include vendor('transform', 'translateY(8.5em)');
    }
  }
}
