#work {

  background: #212121;
  background: -moz-radial-gradient(center, ellipse cover, #333333 0%, #212121 72%);
  background: -webkit-radial-gradient(center, ellipse cover, #333333 0%,#212121 72%);
  background: radial-gradient(ellipse at center, #333333 0%,#212121 72%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#212121',GradientType=1 );
  position: relative;
  height: 100vh;
  
  img {
    &.slick-arrow {
      position: absolute;
      bottom: 40%;
      height: 110px;
      width: auto;
      z-index: 999;
      opacity: .3;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;

      &.slick-disabled {
        opacity: 0 !important;
      }

      &:hover {
        &:not(.slick-disabled) {
          opacity: .9;
        }
      }

      &:not(.slick-disabled) {
        cursor: pointer;
      }

      &.slick-next {
        right: 30px;
      }

      &.slick-prev {
        left: 30px;
        opacity: .15;
      }

    }
  }

  .project {
    margin: 0 20px 0 10px;
    padding: 13vh 0 0;

    cursor: pointer;
    cursor: hand;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;

    &:active {
      cursor: pointer;
      cursor: hand;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;
    }

    &.slick-slide {
      &:focus,
      &:active,
      &:hover {
        outline: none;
      }

      @include animate(all);

      width: 72vw;
      @include vendor('transform', 'scale(.95)');
      opacity: .25;

      &.slick-current {
        @include vendor('transform', 'scale(1)');
        opacity: 1;

        img {
          cursor: pointer;
        }
      }

      &:not(.slick-current) {
        cursor: pointer;

        &:hover {
          opacity: .5;
          @include vendor('transform', 'scale(.96)');
        }
      }
    }

    &#terryberry {
      .project-img {
        margin-right: 20px;
      }
      .project-content {
        margin-left: 20px;
      }
    }

    &#budget {
      a {
        &.project-btn {
          background: url('../img/app-store.svg') no-repeat center center;
          display: inline-block;
          width: 120px;
          height: 40px;
        }
      }
    }


    .project-img {
      position: relative;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .project-content {
      padding-top: 50px;
      h2 {
        margin-bottom: 30px;

        span {
          font-size: 28px;
          display: block;
        }
      }
      p {
        font-size: 22px;
      }

      a {

        color: #FFF;
        text-decoration: underline;
        text-decoration-style: dotted;

        &.project-btn {
          @include animate(all);
          text-decoration: none;
          font-size: 24px;
          text-transform: uppercase;
          color: #FFF;
          margin-top: 60px;
          display: inline-block;
          padding-right: 50px;
          background: url('//icongr.am/feather/arrow-right.svg?size=24&color=FFFFFF') no-repeat 95% center;
          letter-spacing: 1px;

          &.stacked {
            font-size: 20px;
            margin-top: 5px;

            &:first-of-type {
              margin-top: 40px;
            }
          }

          &:hover {
            background: url('//icongr.am/feather/arrow-right.svg?size=24&color=FFFFFF') no-repeat 100% center;
            text-decoration: none;
          }
        }
      }
    }
  }
}
